body {
  margin: 0;

  overflow-x: hidden;
}

canvas {
  aspect-ratio: 320 / 240;

  width: 90%;
  max-height: 90vh;
  max-width: calc(320 / 240 * 90vh);

  border: 1px solid black;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 1em;
}

#canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  min-height: 100vh;
}

#loading {
  position: absolute;
  z-index: 999;
  font-size: xx-large;
  max-width: calc(320 / 240 * 90vh);
  text-align: center;
}

iframe {
  width: 80%;
  aspect-ratio: 1920 / 1080;
}
